ul.list-group
      span#basic-addon1.input-group-addon CitizenID
      li.list-group-item #{parCitizenID} 19001900191
      span#basic-addon1.input-group-addon Name
      li.list-group-item #{patientName} Max
      span#basic-addon1.input-group-addon Weight(kg)
      li.list-group-item #{parWeight} 99
      span#basic-addon1.input-group-addon Height(m)
      li.list-group-item #{parHeight} 199
      span#basic-addon1.input-group-addon Temperature(celcius)
      li.list-group-item #{parTemperature} 33
      span#basic-addon1.input-group-addon Pulse(bpm)
      li.list-group-item #{parPulse} 129
      span#basic-addon1.input-group-addon Blood(cc)
      li.list-group-item #{parBlood} 55
      span#basic-addon1.input-group-addon Pressure(mmHg)
      li.list-group-item #{parPressure} 77 
      span#basic-addon1.input-group-addon Symtomp
      li.list-group-item #{parSymtomp} love never die
      span#basic-addon1.input-group-addon Cause
      li.list-group-item #{parCause} love die