include ./head
h1 doctor
table
  thead
    tr
      td name
      td surname
      td gender
      td age
  tbody
    each par in patient
      tr
        td 
          a(href='/doctor/#{par.name}') #{par.name}
        td 
          a(href='/doctor/#{par.name}') #{par.surname}
        td 
          a(href='/doctor/#{par.name}') #{par.gender}
        td
          a(href='/doctor/#{par.name}') #{par.age}
