include ./head
<ul class="nav nav-tabs"><li ><a href="/doctor/patient/macro">Home</a></li>
<li class="active"><a href="/doctor">Patient List</a></li></ul>
<div class="row">
<div class="col-xs-3 col-sm-1"></div>
<div class="col-xs-12 col-sm-10" >
h3.head-doc Patient List
table.table.table-hover.table-x
  thead
    tr
      th name
      th surname
      th gender
      th age
  tbody
    each par in patient
      tr
        td
          a(data-toggle="modal" href="#myModal") #{par.name}
        td 
          a(data-toggle="modal" href="#myModal") #{par.surname}
        td 
          a(data-toggle="modal" href="#myModal") #{par.gender}
        td
          a(data-toggle="modal" href="#myModal") #{par.age}
</div>
<div class="col-xs-3 col-sm-1"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog">
    
<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title head-doc2">Patient Detail</h4>
</div>
<div class="modal-body">
<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#home">Patient Detail</a></li>
<li><a data-toggle="tab" href="#diag">Diagnosis</a></li>
</ul>

<div class="tab-content">
<div id="home" class="tab-pane fade in active">
<h3 class="head-doc2">Patient Detail</h3>

ul.list-group
      span#basic-addon1.input-group-addon CitizenID
      li.list-group-item #{parCitizenID}
      span#basic-addon1.input-group-addon Name
      li.list-group-item #{patientName}
      span#basic-addon1.input-group-addon Weight(kg)
      li.list-group-item #{parWeight}
      span#basic-addon1.input-group-addon Height(m)
      li.list-group-item #{parHeight}
      span#basic-addon1.input-group-addon Temperature(celcius)
      li.list-group-item #{parTemperature}
      span#basic-addon1.input-group-addon Pulse(bpm)
      li.list-group-item #{parPulse}
      span#basic-addon1.input-group-addon Blood(cc)
      li.list-group-item #{parBlood}
      span#basic-addon1.input-group-addon Pressure(mmHg)
      li.list-group-item #{parPressure}
      span#basic-addon1.input-group-addon Symtomp
      li.list-group-item #{parSymtomp}
      span#basic-addon1.input-group-addon Cause
      li.list-group-item #{parCause}

</div>
<div id="diag" class="tab-pane fade">
<h3 class="head-doc2">Diagnosis</h3>
<div class="form-group">
<label for="disease_id">Disease ID:</label>
<input type="text" class="form-control" id="disease_id" placeholder="Enter disease id">
</div>
<div class="form-group" id='medicineList' >
<div class="form-group">
<label for="pwd">medicine:</label>
.midicine.well
  .row
    .col-md-3
      input.name(placeholder='name' class="form-control")
    .col-md-9
      input.usage(placeholder='usage' class="form-control")
  .row
    .col-md-3
      input.quatity(placeholder='quatity' class="form-control")
    .col-md-3
      button.btn.btn-info.add add
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button class="btn btn-default" data-dismiss="modal">Close </button>
</div>
</div>
</div>
</div>
script(src='../dist/js/doctor.js')
