include ./head
include ./headuser

h2 #{page}
table
  thead
    tr
      td name
      td surname
      td gender
      td age
  tbody
    each par in patient
      tr
        td
          a(href="/nurse/patient/#{par.name}") #{par.name}
        td #{par.surname}
        td #{par.gender}
        td #{par.age}
