include ./head
+navbarLogout('Nurse Home')      
.row
  .col-xs-3.col-sm-1
  .col-xs-12.col-sm-10
    h2.head-doc Patient List
    table.table.table-hover.table-x
      thead
        tr
          th name
          th surname
          th gender
          th age
      tbody
        each par in patient
          tr
            td
              a.patientName(data=par.name) #{par.name}
            td 
              a.patientName(data=par.name) #{par.surname}
            td 
              a.patientName(data=par.name) #{par.gender}
            td 
              a.patientName(data=par.name) #{par.age}
.modalTemp
script(src='../dist/compiledViews/nurseModaltemplates.js')
script(src='../dist/js/nurse.js')
